@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('./loader.css');
* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    color: black;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}
a, button {
    transition: all .2s ease-in-out;
}
a.button, button.button {
    display: block;
    background-color: #005CFF;
    color: white;
    padding: 10px 6px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 100%;
}
a.button:hover, button.button:hover {
    color: white;
    opacity: .7;
    transform: translateY(-2px);
}
.toast-body {
    font-size: 20px;
}
ul {
    list-style-type: none !important;
}
.button[disabled="true"] {
    opacity: .4 !important;
    transform: none !important;
    cursor: default;
}
p {
    margin: 0;
}
.font-nunito {
    font-family: "Nunito", "Nunito Sans", Arial, Helvetica, sans-serif;
}
.input-wrapper {
    position: relative;
    max-width: 594px;
}
.input-wrapper .icon {
    position: absolute;
    right: 16px;
    top: 9px;
}
input:hover {
    border-color: #005eff98;
}
input[type="text"]:focus, input[type="email"]:focus {
    outline: none;
    border-color: #005eff98;
    box-shadow: 0 0 0 .2rem rgba(13,110,253,.25);
}
#search-input+.icon {
    cursor: pointer;
}
.invalid-input {
    border-color: red !important;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.253) !important;
}
.input-wrapper span {
    margin-top: 6px;
    display: block;
    color: #005CFF;
}
.dropdown button.active {
    color: #005CFF;
    font-weight: 700;
}
.dropdown button {
    position: relative;
}
.dropdown button::after {
    content: url('../img/icons/arrow.svg');
    position: absolute;
    right: 0;
}
.dropdown button.active::after {
    content: url('../img/icons/arrow-blue.svg');
}
.dropdown .left-part::-webkit-scrollbar {
    width: 3px;
}
.dropdown .left-part::-webkit-scrollbar-track {
    background: white;
}
.dropdown .left-part::-webkit-scrollbar-thumb {
    background: #CECECE;
    border-radius: 6px;
}
#main-hero .main-desc {
    color: #005CFF;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
}
#main-hero .discount {
    text-align: center;
    font-size: 60px;
    color: #005CFF;
    font-family: "Nunito";
    font-weight: 700;
}
input[type="text"], input[type="email"] {
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 10px;
    height: 40px;
    padding: 11px 24px;
    transition: all .2s ease-in-out;
}
input::placeholder {
    color: #000;
    font-weight: 600;
}
.input-wrapper:has(.icon) input {
    padding: 11px 47px 11px 24px;
}
header {
    z-index: 100;
    position: fixed;
    background: white;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .16);
}
header .banner-warning {
    width: 100%;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 4px 16px;
}
header nav.navbar {
    padding: 17px 0;
}
header .profile-info {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}
.destaque {
    background-color: #6220C1;
    border-radius: 4px;
    line-height: 1;
    padding: 0 6px;
}
.container {
    max-width: 1290px !important;
}
#main-hero {
    padding-top: 160px;
    background-color: #E7E7EA;
}
.categories {
    margin-top: 23px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.categories a {
    color: #000;
}
.navbar a, .navbar-mobile a {
    text-decoration: none;
}
a:hover {
    color: #005CFF !important;
}
.cart-link {
    position: relative;
    padding: 6px 3px;
}
.cart-link .cart-indicator {
    background-color: var(--bs-primary);
    padding: 3px 8px;
    color: white;
    position: absolute;
    display: flex;
    right: -10px;
    top: -4px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
}
.pill-new {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 22px;
    background-color: #00264E;
    border-radius: 6px;
    padding: 5px 6px 5px 5px;
    font-weight: 600;
    text-align: center;
}
.main-title {
    font-weight: 700;
    font-size: 100px;
}
.product-card {
    padding: 6px;
    border: 1px solid #DDD;
    border-radius: 10px;
    max-width: 238px;
}
.product-name {
    margin-bottom: 4px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
}
.product-old-price {
    color: #303030;
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 400;
}
.product-price {
    font-weight: 700;
    margin-bottom: 4px;
    color: #000;
}
.product-parcel {
    font-size: 12px;
    color: #303030;
    margin-bottom: 16px;
}
.swiper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
}
.swiper-pagination-bullet {
    background-color: #838383;
}
.swiper-pagination-bullet-active {
    background-color: #303030;
}
.swiper-button-next, .swiper-button-prev {
    border-radius: 50%;
    border: 1px solid #005CFF;
    background: white;
    padding: 9px;
    width: 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    align-items: center;
    justify-content: center;
    height: 30px;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-prev::after {
    margin-top: -20px;
    margin-left: -2px;
    content: url('../img/icons/left-arrow.svg');
}
.swiper-button-next::after {
    margin-top: -18px;
    content: url('../img/icons/right-arrow.svg');
}
.banner-mug {
    background-color: #C2C2C2;
    padding: 110px 64px;
}
#products-section {
    padding-top: 95px;
    padding-bottom: 48px;
}
#mug-presentation-section {
    padding-top: 48px;
    padding-bottom: 55px;
}
#mug-presentation-section h2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Nunito", "Nunito Sans", Arial, Helvetica, sans-serif;
}
#mug-presentation-section p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 22px;
    letter-spacing: .5px;
}
.info-wrapper {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#features-section {
    background-color: #DEDEDE;
    padding-top: 41px;
    padding-bottom: 50px;
}
#features-section h2 {
    font-family: "Nunito", "Nunito Sans", Arial, Helvetica, sans-serif;
    color: #4f4f4f;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.link {
    font-size: 14px;
    color: #303030;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
}
.product-discount {
    margin-left: 8px;
    background-color: #5EC0BE;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 11px;
    line-height: 12px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
}
#products-section h2 {
    font-size: 20px;
    font-weight: 700;
}
#features-section p {
    font-size: 18px;
    font-family: "Nunito", "Nunito Sans", Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    line-height: 1.4;
}
.map-icon {
    min-width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005CFF;
    border-radius: 50%;
}
#cta-section {
    height: 620px;
    background-image: url('../img/cta-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cta-section .banner {
    background-color: #005CFF;
    padding: 55px 12px;
    text-align: center;
    color: white;
    margin: auto;
    width: 100%;
}
.banner h2 {
    font-size: 30px;
    margin-bottom: 0;
    font-family: "Nunito", "Nunito Sans", Arial, Helvetica, sans-serif;
}
form {
    gap: 24px;
    align-items: center;
    display: flex;
    padding: 64px 115px;
    border-radius: 8px;
    background-color: #DEDEDE;
}
form input {
    max-width: 280px;
}
form button {
    max-width: 121px !important;
}
form input[type="text"], form input[type="email"] {
    padding: 15px 24px !important;
    height: unset;
}
form fieldset label {
    font-size: 12px;
    font-weight: 700;
    color: #656565 !important;
}
form fieldset label a {
    color: inherit;
}
#form-section {
    padding-top: 64px;
    padding-bottom: 40px;
}
#form-section h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}
#form-section h2 span {
    color: #005CFF;
}
/* HTML: <div class="loader"></div> */
.loader-product {
    width: 20px;
    padding: 4px;
    aspect-ratio: 1;
    display: block;
    margin: auto;
    border-radius: 50%;
    background: white;
    --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
to{
    transform: rotate(1turn)
}
}
.toast {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 100;
    opacity: 1 !important;
    background-color: white !important;
}
footer {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #F5F5F5;
}
.social-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}
footer .brands-wrapper {
    margin-top: 67px;
    flex-wrap: wrap;
    display: flex;
    gap: 34px;
    justify-content: center;
}
footer h4 {
    color: black;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 11px;
    font-weight: 700;
}
footer h5, footer h5 a, footer p {
    color: #303030;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
footer b {
    font-weight: 700 !important;
}
.final-banner {
    padding: 40px 0 63px 0;
    font-size: 12px;
}
.dropdown {
    position: absolute;
    background-color: white;
    width: 100%;
    opacity: 1;
    display: flex;
    top: 45px;
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, .1);
}
.department-content {
    display: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.dropdown h2 {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 17px;
}
.dropdown .right-part a {
    color: #656565;
}
.dropdown .left-part {
    background-color: #f5f5f5;
    max-width: 234px;
    max-height: 329px;
    overflow: auto;
    height: 100%;
    padding: 20px 27px 11px 16px;
}
.dropdown .right-part{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 24px 11px 34px;
}
.dropdown .left-part button {
    background-color: transparent;
    width: 100%;
    display: block;
    text-align: start;
    margin-bottom: 12px;
    border: none;
    outline: none;
}
.dropdown.hidden {
    display: none;
    opacity: 0;
}
.dropdown-categories-wrapper {
    display: flex;
    gap: 125px;
    justify-content: space-between;
}
.dropdown-categories-wrapper h3 {
    color: #005CFF;
    font-weight: 700;
}
.dropdown-categories-wrapper h3, .dropdown-categories-wrapper a {
    font-size: 16px;
    margin-bottom: 12px;
    display: block;
}
.partners-wrapper {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 24px;
    align-items: center;
}
.partners-wrapper .divider {
    height: 15px;
    width: 1px;
    display: block;
    background-color: #f5f5f5;
}
.navbar-mobile {
    position: absolute;
    width: 100%;
    padding: 0 24px 24px 24px;
    z-index: 100;
    display: none;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px -1px rgba(0, 0, 0, .1);
}
.navbar-mobile.show {
    display: block;
}
@media screen and (max-width: 1600px) {
    #mug-presentation-section img {
        height: 350px;
    }
    .banner-mug {
        height: 500px;
        padding: 50px 32px;
    }
    #features-section .col-lg-7 img {
        height: 550px;
        margin-left: auto;
    }
}
@media screen and (min-width: 1301px) {
    .navbar-mobile.show {
        display: none !important;
    }
}
@media screen and (max-width: 1300px) {
    .main-title {
        font-size: 50px;
        text-align: center;
    }
    .profile-info {
        display: none !important;
    }
    #main-hero {
        padding-top: 110px;
    }
    #main-hero .main-desc {
        letter-spacing: 0;
        text-align: center;
        font-size: 25px;
    }
    #main-hero .discount {
        font-size: 28px;
    }
    form {
        flex-direction: column;
    }
    form input {
        max-width: 600px;
    }
    .nav-toggle {
        background-color: transparent;
        outline: none;
        width: 24px;
        height: 24px;
        border: none;
        display: block !important;
    }
    .nav-toggle img {
        width: 100%;
    }
    nav ul {
        display: none !important;
    }
}
@media screen and (max-width: 1100px) {
    section:not(#main-hero) {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}
@media screen and (max-width:992px) {
    #main-hero {
        padding-bottom: 54px;
    }
    h1 {
        margin-top: 24px;
    }
    #mug-presentation-section h2 {
        margin-top: 24px;
    }
    #features-section .col-lg-7 img {
        width: 100%;
        height: auto;
    }
    form {
        padding: 34px 12px;
    }
}
@media screen and (max-width: 900px) {
    .input-wrapper {
        order: 1;
        margin-top: 28px;
    }
}
@media screen and (max-width: 768px) {
    footer .row .col-md-3 {
        display: none;
    }
    .accordion {
        background: transparent;
        display: block !important;
    }
    .accordion-button {
        font-size: 18px;
        font-weight: 700;
    }
    .accordion-button:not(.collapsed) {
        color: #005CFF;
    }
    .accordion-button, .accordion-item {
        background-color: transparent !important;
    }
}
@media screen and (max-width: 500px) {
    #main-hero {
        padding-top: 180px;
    }
}
